<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1>Hello, <%=current_user.first_name%></h1>

<p><a href="/books">Add a Book</a></p>


<h3> Books You've Read</h3>
	<ul>
		<% if current_user.reads %>
			<% for current_user.reads.each do |read| %>
				<li><a href="/books/<%=read.id%>"><%=read.title%></a></li>
				<li><%=read.author%></li>
			<% end %>
		<% end %>
	</ul>


<h3> Books You'd Like to Read </h3>

<h3> Books You're currently Reading </h3>

<h3> Books You've Reviewed </h3>

<a href="/users/<%=current_user.id%>">Edit your Profile</a>

<a href="/">Log Out</a>
