

<h1><%=current_user.first_name%></h1>
 <p>Here are the list of all the books</p>



<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>User who added the book to the list</th>
			<th>No. of times book <br> has been added to the shelf</th>
			<th>Add to Shelf</th>
		</tr>
	</thead>
	<tbody>
		<tr> <% @books.each do |book| %>
			<td> <a href="/books/<%=book.id%>"><%=book.title%></a> </td>
			<td> <a href=""><%=book.author%></a> </td>
			<td> <a href="/users/<%=book.user_id%>"><%=book.user.first_name%></a> </td>
			<td><%=book.reads.count + book.currents.count + book.interesteds.count%></td>
			<td>

			<% unless Read.where(book_id: book.id, user_id: current_user.id).any? %>
			<form action='/reads' method='post'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type="hidden" name="book_id" value="<%=book.id%>">
				
				<input type="submit" value="Already Read">
			</form>

			<%end%>

			<% unless Current.where(book_id: book.id, user_id: current_user.id).any? %>

			<form action='/currents' method='post'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type="hidden" name="book_id" value="<%=book.id%>">
				
				<input type="submit" value="Currently Reading">
			</form>

			<%end%>

			<% unless Interested.where(book_id: book.id, user_id: current_user.id).any? %>

			<form action='/interesteds' method='post'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type="hidden" name="book_id" value="<%=book.id%>">
				
				<input type="submit" value="Interested in Reading">
			</form>
			<%end%>

			</td>

		</tr>
		<%end%>
	</tbody>
</table>



 <p><a href="/books/new">Create a new book in the database</a></p>