


 <h2 class='books'>Books</h2>



<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Creator</th>
			<th>No. of times book <br> has been added to the shelf</th>
			<th>Add to Shelf</th>
			<th>Average Rating</th>
		</tr>
	</thead>
	<tbody>
		<tr> <% @books.each do |book| %>
			<td> <a href="/books/<%=book.id%>"><%=book.title%></a> </td>
			<td> <%=book.author%> </td>
			<td class='number'> <a href="/users/<%=book.user_id%>"><%=book.user.first_name%></a> </td>
			<td class='number'><%=book.reads.count + book.currents.count + book.interesteds.count%></td>
			<td>

			<% unless Read.where(book_id: book.id, user_id: current_user.id).any? %>
			<form action='/reads' method='post'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type="hidden" name="book_id" value="<%=book.id%>">
				
				<input type="submit" value="Already Read">
			</form>

			<%end%>

			<% unless Current.where(book_id: book.id, user_id: current_user.id).any? %>

			<form action='/currents' method='post'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type="hidden" name="book_id" value="<%=book.id%>">
				
				<input type="submit" value="Currently Reading">
			</form>

			<%end%>

			<% unless Interested.where(book_id: book.id, user_id: current_user.id).any? %>

			<form action='/interesteds' method='post'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type="hidden" name="book_id" value="<%=book.id%>">
				
				<input type="submit" value="Interested in Reading">
			</form>
			<%end%>

			</td>

			<td>
				<%sum=0%>
				<% if book.comments.count > 0 %>
					
					<% book.comments.each do |comment| %>
					<% if comment.rating %>
						<%sum+=comment.rating%>
					<% end %>
				<%end%>
				<p class='rating'><%=sum/book.comments.count%></p>
				<% else %>
					<p>This book is not yet Rated</p>

				<%end%>
			</td>

		</tr>
		<%end%>
	</tbody>
</table>



